
 
  div.j {
    background-color: lightgrey;
    width: 50px;
    border: 2px solid green;
    padding: 2px;
    margin: 2px;
}
h1 {
    text-align: center;
}
     div.h {
    float: center;
  padding : 20px;
      }
      div.g {
    float: right;
      }
    
        div.d {
          position: absolute;
          left :0%;
          width: 188px;
          height: 300px;
          border : 3px solid black;
        }
        div.a {
            position: relative;
            left : 187px;
            width: 1000px;
            height: 300px;
            border: 3px solid black;
            
        }
     /*   th.clicked:active{
    background-color: yellow;

        }*/
      
        body {
            background-color: cyan;
             }

        table {
             font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
              }

          th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
               }  

th.active:{
  background-color: lightgrey;
/*color: #fafafa;*/
/*-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;*/
}

 .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {background-color: #008CBA;} /* Blue */
.button2 {   
             background-color: #f44336;} /* Red */ 
.button3 {background-color: #555555;} /* Black */



