 
  div.j {
    background-color: lightgrey;
    width: 50px;
    border: 2px solid green;
    padding: 2px;
    margin: 2px;
}
h1 {
    text-align: center;
}
      div.g {
    float: right;
      }
    
        div.d {
          position: absolute;
          left :0%;
          width: 188px;
          height: 300px;
          border : 3px solid black;
        }
        div.a {
            position: relative;
            left : 187px;
            width: 1000px;
            height: 300px;
            border: 3px solid black;
            
        }

      
        body {
            background-color: cyan;
             }

        table {
             font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
              }

          th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
               }  

th.active:{
  background-color: lightgrey;

}



