<div>
     <div class ="g" >

      <button type="button" style="background-color:blue;" onclick="alert('Admin Page')" >Admin</button>
          <button type="button" style="background-color:blue;" onclick="alert('Sign Out Successfully')">Sign Out</button>
      
      </div>
 <br>
 <br>
 <br>
 
    <h1 > Project Detail </h1>
 
<h3> ProjectName:{{projectName}} </h3>
  


<div class = "d">   
  <p>    <b>  Modules  </b></p>
  
         
    <div >
    <ul>
        <li>
            <span (click)="changeShowStatus()" class="active"><i class="glyphicon glyphicon-folder-open">
      </i> <b> {{moduleName}}</b></span>
            <ul>
                <li>
          <p> </p>
                  <p><span class="glyphicon glyphicon-file"></span>{{moduleChild}} </p>
         <!--  <p><span class="glyphicon glyphicon-file"></span> Grand Child</p> -->
                    
                        
                     
                </li>


</ul>
</li>
</ul>
</div>
</div>
  
 
  
<div class="a" >
    <table >
        <tr >
          <th (click)="changeShowStatus()" class="active"> Test Planning</th>

        
        <th (click)="showTestExecution()" class="active">Test Execution</th>


       <th>Report</th>
        </tr>
        <tr >
      
    <td *ngIf="show==true" ><button (click)="goCreateModule()" class="button button1">CreateModule</button>
      <router-outlet></router-outlet>  
<!-- <br>
<br>
<app-module></app-module> -->
     </td>


    <td *ngIf="show==true"><button (click)="goCreateFeature()" class="button button2" >CreateFeature</button>

 <router-outlet></router-outlet>  

    </td>

     <td *ngIf="show==true"><button (click)="goImport()" class="button button3">ImportScript</button>

     </td>
     <td *ngIf="show==true"> <button style="background-color:green;">save </button></td>

<td *ngIf="testExecution==true"><app-test></app-test>

</td>
</tr>

  <!-- <tr> -->
    <!--  <td> </td>
     <td> </td> -->
    <!--  <td>  <br><br> <br><br><br><button style="background-color:green;">save </button></td>
    </tr> -->
      </table>
     
</div>
  <router-outlet></router-outlet>  
</div>

